@media only screen and (max-width:320px) {
    .section-text {
        right: 2rem;
    }

}

@media only screen and (max-width:376px) {
    .section-bg {
        width: 61rem;
        height: 30rem;
    }

    .bgvideo {
        position: absolute;
        top: 17rem;
        left: 24rem;
        width: 67%;
    }
    .nav{
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }
    .nav2 ul {
        justify-content: space-around;
        /* background-color: black; */
        flex-direction: column;
        align-items: center;
        height: 24rem;
        padding: 0px;
        width: 100%;
    }
    .nav ul li a{
        font-size: 1.3rem;
    }
    .nav ul span {

        padding: 0px;
        height: 1.9rem;
    }
    .logo {
        /* background-color: black; */
    justify-content: flex-start;
    align-items: flex-start;
    
    }
    .logo-menu{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .section-text {
        right: 2rem;
    }

    .container {
        /* width: 61rem; */
    }

    .nav2 ul span {
        width: 100%;
        background-color: #a8b50a;
        padding: 1rem 0rem;
    }

    /* .hoverline{
        position: absolute;
        color: black;
        top: 6rem;
    }
    .Spanhoverline{
    }  */
    #navid {
        display: none;

    }

    #menu {
        padding-right: 2rem;
        color: #3aa8b6;
        cursor: pointer;
    }
    .menucls{
        /* display: flex; */
    }
}

@media only screen and (min-width:376px) and (max-width:426px){
    .section-bg {
        width: 61rem;
        height: 30rem;
    }

    .bgvideo {
        position: absolute;
        top: 17rem;
        left: 24rem;
        width: 67%;
    }
    .navbar {
        flex-direction: column;
    }
    .nav2 ul {
        justify-content: space-around;
        /* background-color: black; */
        flex-direction: column;
        align-items: center;
        height: 24rem;
        padding: 0px;
        width: 100%;
    }
    .nav ul li a{
        font-size: 1.3rem;
    }
    .nav ul span {

        padding: 0px;
        height: 1.9rem;
    }
    .logo {
        /* background-color: black; */
    justify-content: flex-start;
    align-items: flex-start;
    
    }
    .logo-menu{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .section-text {
        right: 2rem;
    }

    .container {
        width: 61rem;
    }

    .nav2 ul span {
        width: 100%;
        background-color: #a8b50a;
        padding: 1rem 0rem;
    }

    /* .hoverline{
        position: absolute;
        color: black;
        top: 6rem;
    }
    .Spanhoverline{
    }  */
    #navid {
        display: none;

    }

    #menu {
        padding-right: 2rem;
        color: #3aa8b6;
        cursor: pointer;
    }
    .menucls{
        /* display: flex; */
    }
}


@media only screen and (min-width:427px) and (max-width:769px){

    .section-bg {
        width: 61rem;
        height: 57rem;
    }

    .bgvideo {
        position: absolute;
        top: 23rem;
        left: 17rem;
        width: 61%;
    }
    .navbar {
        flex-direction: column;
    }
    .nav2 ul {
        justify-content: space-around;
        /* background-color: black; */
        flex-direction: column;
        align-items: center;
        height: 24rem;
        padding: 0px;
        width: 100%;
    }
    .nav ul li a{
        font-size: 1.3rem;
    }
    .nav ul span {

        padding: 0px;
        height: 1.9rem;
    }
    .logo {
        /* background-color: black; */
    justify-content: flex-start;
    align-items: flex-start;
    
    }
    .logo-menu{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    .section-text {
        right: 2rem;
    }

    .container {
        width: 61rem;
    }

    .nav2 ul span {
        width: 100%;
        background-color: #a8b50a;
        padding: 1rem 0rem
    }
    #navid {
        display: none;

    }

    #menu {
        padding-right: 2rem;
        color: #3aa8b6;
        cursor: pointer;
    }
    .menucls{
        /* display: flex; */
    }
}

@media only screen and (min-width:770px){

    #menu{
        display: none;
    }
    #navid {
        display: block;

    }
}